<!DOCTYPE html>
<html>
<head>
  <title>Blogs3</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="banner">
  <h1>My Blogs IV</h1>
</div>
<div id="left-panel">
  Left Panel
</div>

<div id="main-panel">
  <%= yield %>
</div>

<div id="footer">
  Copyright wty &copy; 2012
</div>

</body>
</html>