<h1>Editing transaction order</h1>

<%= render "form", transaction_order: @transaction_order %>

<br>

<div>
  <%= link_to "Show this transaction order", @transaction_order %> |
  <%= link_to "Back to transaction orders", transaction_orders_path %>
</div>
