<p style="color: green"><%= notice %></p>

<h1>我的订单</h1>

<div id="transaction_orders">
  <% @transaction_orders.each do |transaction_order| %>
    <%= render transaction_order %>
    <p>
      <%= link_to "查看订单详情", transaction_order %>
    </p>
  <% end %>
</div>

<%#= link_to "创建订单", new_transaction_order_path %>
