<p style="color: green"><%= notice %></p>

<h1>Favorites</h1>

<div id="favorites">
  <% @favorites.each do |favorite| %>
    <%= render favorite %>
    <p>
      <%= link_to "Show this favorite", favorite %>
    </p>
  <% end %>
</div>

<%= link_to "New favorite", new_favorite_path %>
