<div id="<%= dom_id size %>">
<!--  <p>-->
<!--    <strong>Product:</strong>-->
    <%#= size.product_id %>
<!--  </p>-->

  <p>
    <strong>尺寸名称:</strong>
    <%= size.size_name %>
  </p>

  <p>
    <strong>尺寸描述:</strong>
    <%= size.description %>
  </p>

</div>
