<p style="color: green"><%= notice %></p>

<h1>Sizes</h1>

<div id="sizes">
  <% @sizes.each do |size| %>
    <%= render size %>
    <p>
      <%= link_to "Show this size", size %>
    </p>
  <% end %>
</div>

<%= link_to "New size", new_size_path %>
