<div id="<%= dom_id color %>">
<!--  <p>-->
<!--    <strong>Product:</strong>-->
    <%#= color.product_id %>
<!--  </p>-->

  <p>
    <strong>颜色:</strong>
    <%= color.rgb %>
  </p>

  <p>
    <strong>颜色描述:</strong>
    <%= color.description %>
  </p>

</div>
