<div id="<%= dom_id product_type %>">
  <p>
    <strong>Product:</strong>
    <%= product_type.product_id %>
  </p>

  <p>
    <strong>Product type name:</strong>
    <%= product_type.product_type_name %>
  </p>

</div>
