<h1>Editing product type</h1>

<%= render "form", product_type: @product_type %>

<br>

<div>
  <%= link_to "Show this product type", @product_type %> |
  <%= link_to "Back to product types", product_types_path %>
</div>
