<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>
  <p>
    <b>Recipes of this category:</b>
    <%= (category.recipes.collect { |recipe| recipe.title }).join(", ") %>
  </p>
</div>
