<h1>Editing transaction item</h1>

<%= render "form", transaction_item: @transaction_item %>

<br>

<div>
  <%= link_to "Show this transaction item", @transaction_item %> |
  <%= link_to "Back to transaction items", transaction_items_path %>
</div>
