<div id="<%= dom_id design %>">
<!--  <p>-->
<!--    <strong>Product:</strong>-->
    <%#= design.product_id %>
<!--  </p>-->

  <p>
    <strong>设计编码:</strong>
    <%= design.sales %>
  </p>

  <p>
    <strong>设计信息:</strong>
    <%= design.design_number %>
  </p>

</div>
